.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.87);
    background: rgb(136, 129, 163);
    background: linear-gradient(0deg, rgba(136, 129, 163, 1) 0%, rgba(88, 136, 127, 1) 100%);
}

.icon {
    max-width: 14rem;
    animation: jello;
    animation-duration: 2s;
    color: rgba(241, 246, 255, 0.359);
}


.intro {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    margin-top: -2rem;
    text-align: center;
}


.introText {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    color: rgba(232, 255, 251, 0.723);

}

.dimText {
    color: rgba(232, 255, 251, 0.515);
}

.downArrow {
    position: absolute;
    bottom: 1.8rem;
    animation: bounce;
    animation-delay: 3s;
    animation-duration: 2s;
}

.downArrow:hover {
    transform: translateY(0.2rem);
    transition: transform 0.2s ease-out;
}